# Dependencies
node_modules/
.pnp
.pnp.*
.turbo/

# Yarn (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build output
.next/
out/
build/
dist/

# Testing
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
!.env.example

# Tooling caches
.vercel/
.eslintcache
*.tsbuildinfo

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Certificates / Keys
*.pem

# Misc
next-env.d.ts
